{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Find historical date</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
